.page-template-page-artist main header {
	font-size: 100%;
}

.page-template-page-artist main header h1 {
	padding-bottom: 5px;
	text-align: left;
}

.page-template-page-artist main header p {
	margin-bottom: 0;
	font-size: 200%;
}

/* Media Queries*/
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	main h1 {
		font-size: 240%;
		padding-top: 15px;
	}
}

/* Large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
	main h1 {
		font-size: 250%;
	}

}
