main .artwork {
	text-align: center;
	margin-top: 25px;
}

main .artwork h2 {
	font-size: 1.2em;
	margin: 10px 15px 0;
	padding: 0;
}

main .artwork p {
	font-size: 0.8em;
	margin: 0 15px;
	padding: 0;
}

/* Media Queries*/
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {

}
