.info {
	background-color: #e1d73a;
	text-align: center;
}

nav {
	text-align: center;
}

nav li {
	display: inline;
	margin-left: 20px;
	font-size: 3em;
}

nav li ul li {
	font-size: 1.5em;
	margin-left: 5px;
}

#carousel, main img {
	width: 600px;
	margin: 20px auto;
}

main img {
	width: 600px;
}
