@charset "utf-8";
/*Colours
yellow: #e1d73a;
red: #cc2038;
cyan: #4eb0af;
purple: #6e86b6;
pink: #e5b3d0;
grey: #999;
link: #337ab7;
link.hover: #23527c;
*/

/* Font */
/*@import url(http://fonts.googleapis.com/css?family=Pathway+Gothic+One);*/
@font-face {
    font-family: myFirstFont;
    src: url(../fonts/Pathway_Gothic_One/PathwayGothicOne-Regular.ttf);
}

body {
	font-family: myFirstFont, sans-serif;
}

abbr[title] {
	text-decoration: none !important;
	border: none;
}

.fa {
	color: #000;
}

/* Header */
header {
	font-size: 1.4em;
}

header h2 {
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	margin: 0;
	font-size: 140%;
}

header .date {
	font-size: 95%;
}

header .info {
	padding: 20px;
	font-weight: bold;
	text-align: center
}

header .small {
	font-size: 40%;
}

header .info {
	font-size: 130%;
}

header .info .small {
	font-size: 70%;
	margin-top: 10px;
}
header .lang {
	text-transform: uppercase;
}

header .time-left {
	padding-top: 10px;
	font-size: 90%;
	margin-bottom: 0;
	padding-bottom: 5px;
}

header .time-left strong {
	color: #4eb0af;
	font-weight: bold;
	font-size: 130%
}

header .time-left strong.large {
	color: #000;
}

/* Navigation */
header nav {
	z-index: 999;
}

header nav ul {
	text-align: center;
	margin: 0;
	padding: 0;
}

header nav li {
	display: block;
	list-style: none;
}

header nav a {
	color: #fff;
	font-weight: bold;
	font-size: 300%;
	text-transform: uppercase;
	display: block;
	text-align: center;
	padding: 10px 0;
}

header nav li a:hover, header nav li a:focus {
	text-decoration: none;
	color: #262626;
}

header nav .dropdown-menu {
	min-width: 300px;
	padding: 0;
}
header nav .dropdown-menu li a {
	font-size: 150%;
	color: #fff;
	padding: 5px 15px;
}
/* Navigation colours
#6e86b6
#e1d73a
#e5b3d0
#4eb0af
*/

header nav ul li, header nav ul ul.dropdown-menu li {
	background-color: #6e86b6;
}

header nav ul li:nth-child(2), header nav ul li:nth-child(2) ul.dropdown-menu li {
	background-color: #e1d73a;
}

header nav ul li:nth-child(3) {
	background-color: #e5b3d0;
}

header nav ul li:nth-child(4) {
	background-color: #4eb0af;
}

header .bids {
	text-align: right;
	margin: 0;
	padding-top: 17px;
}

header .bids a {
	color: #fff;
	font-weight: bold;
	font-size: 150%;
	text-transform: uppercase;
}


/* Main content*/
main h1 {
	padding: 20px 5px;
	margin: 0;
	font-size: 250%;
	color: #fff;
}

main h1 small {
	color: #CCC;
}

main h2 {
	margin-top: 20px;
	font-weight: bold;
	font-size: 150%;
}

main h3 {
	margin-top: 30px;
	font-weight: bold;
	font-size: 130%;
}

main .tag {
	padding-top: 35px;
	padding-bottom: 35px;
	margin-bottom: 0;
	font-size: 1.5em;
	color: #fff;
}

main .text {
	padding: 15px;
	font-size: 165%;
	text-align: justify;
}

main .text, .yellow-grad {
	background: rgb(225,215,58); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(225,215,58,1) 0%, rgba(255,255,255,1) 99%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(225,215,58,1)), color-stop(99%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(225,215,58,1) 0%,rgba(255,255,255,1) 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(225,215,58,1) 0%,rgba(255,255,255,1) 99%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(225,215,58,1) 0%,rgba(255,255,255,1) 99%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(225,215,58,1) 0%,rgba(255,255,255,1) 99%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1d73a', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

main .text {
	padding-bottom: 50px;
}

main .twitter-wrapper {
	padding: 15px !important;
}

main  .btn-primary {
	font-size: 125%;
	margin-top: 30px;
	background-color: #6e86b6;
}

/* Search */

main .search-everything-highlight-color {
	font-weight: 900;
	border-bottom: dotted 1px #333;
}

/* Single Post */

.single main header {
	font-size: 100%;
}

.single main header h1 {
	padding-bottom: 5px;
	text-align: left;
}

.single main header p {
	margin-bottom: 0;
	font-size: 200%;
}

/* Ticket page */

.tickets main h3 span {
	margin-left: 15px;
}

.tickets main p:nth-child(2) {
	margin-left: 15px;
}

.tickets main h2:nth-child(3) {
	margin-top: 50px;
}

.tickets main section {
	margin-left: 15px;
}

/* Sponsor page */

main .sponsor-list li {
	margin-bottom: 25px;
}

/* Footer */
footer {
	padding: 15px;
}

footer .sponsors h3 {
	font-size: 1em;
}

footer .sponsors ul li {
	margin-bottom: 15px;
}

footer .media {
	margin: 0;
	text-transform: uppercase;
}

footer .media ul li {
	font-size: 150%;
}

footer .fa-4x {
	 font-size: 335%;
}

/* Utilities */
.relative {
	position: relative !important;
}

[class*="photo"] {
	background-position: top right;
	background-repeat: no-repeat;
	background-size: contain;
}

.photov {
	max-height: 18em;
}

.photoh {
	max-height: 9em;
}


/* Colour classes */
.yellow {
	background-color: #e1d73a;
}

.red {
	background-color: #cc2038;
}

.cyan {
	background-color: #4eb0af;
}

.purple {
	background-color: #6e86b6;
}

.pink {
	background-color: #e5b3d0;
}

.grey {
	background-color: #999;
}
/* Utilities */

.w100 {
	width: 100%;
}

.mrgn-lft-0 {
	margin-left: 0;
}

.mrgn-lft-sm {
	margin-left: 5px;
}

.mrgn-lft-md {
	margin-left: 15px;
}

.mrgn-lft-lg {
	margin-left: 30px;
}

.mrgn-lft-xl {
	margin-left: 50px;
}

.mrgn-bttm-0 {
	margin-bottom: 0;
}

.mrgn-bttm-sm {
	margin-bottom: 5px;
}

.mrgn-bttm-md {
	margin-bottom: 15px;
}

.mrgn-bttm-lg {
	margin-bottom: 30px;
}

.mrgn-bttm-xl {
	margin-bottom: 50px;
}

.mrgn-tp-0 {
	margin-top: 0;
}

.mrgn-tp-sm {
	margin-top: 5px;
}

.mrgn-tp-md {
	margin-top: 15px;
}

.mrgn-tp-lg {
	margin-top: 30px;
}

.mrgn-tp-xl {
	margin-top: 50px;
}

.mrgn-rght-0 {
	margin-right: 0;
}

.mrgn-rght-sm {
	margin-right: 5px;
}

.mrgn-rght-md {
	margin-right: 15px;
}

.mrgn-rght-lg {
	margin-right: 30px;
}

.mrgn-rght-xl {
	margin-right: 50px;
}

/* Media Queries*/
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

	header h2 {
		font-size: 165%;
	}

	header .date {
		font-size: 115%;
	}

	header .small {
		font-size: 0.7em;
	}

	header .info {
		text-align: right;
		font-size: 100%;
		margin-bottom: 0;
		padding-bottom: 0;
	}

	header .info .small {
		font-size: 70%;
	}

	header .cell {
		min-height: 3.73em;
	}

	/* French cell in nav */
	html[lang="fr"] header .cell {
		min-height: 3.05em;
	}

	header .menu {
		background-color: #cc2038;
	}

	/* Navigation */
	header nav {
		display: table;
		width: 100%;
		border: none;
	}

	header nav ul {
		display: table-row;
	}

	header nav li {
		display: table-cell;
	}

	header nav li a {
		display: block;
		color: #fff;
		text-transform: uppercase;
		font-size: 170%;
		font-weight: bold;
		padding: 13px 5px;
		letter-spacing: 3px;
	}

	/* French nav */
	html[lang="fr"] header nav li a {
		font-size: 120%;
	}

	header nav li a:hover, header nav li a:focus {
		text-decoration: none;
		color: #262626;
	}

	header nav .dropdown-menu li {
		font-size: 100%;
		color: #fff;
		display: block;
	}

	main h1 {
		font-size: 240%;
		margin: 0;
		color: #fff;
		text-transform: uppercase;
		font-weight: bold;
		text-align: center;
		padding-top: 1.3em;
	}

	main #carousel {
		z-index: 2;
		border: 14px solid #999;
		background-color: #999;
	}

	main #carousel {
		position: absolute;
		top: 0;
		left: 0;
	}
	main .carousel-inner > .item > a > img, .carousel-inner > .item > img, .img-responsive, .thumbnail a > img, .thumbnail > img {
		max-height: 16em;
	}

	main .tag {
		padding-top: 15px;
		font-size: 1em;
		width: 40%;
	}

	main .cell div {
		min-height: 9em;
	}

	main .twitter-timeline {
		max-height: 27em;
		position: absolute !important;
		bottom: 0;
		right: 0;
	}
	footer .media ul li {
		display: block;
	}

	footer .fa-4x {
		 font-size: 3.3em;
	}

	/* Single page */
	.single main h1 {
		font-size: 240%;
		padding-top: 15px;
	}

	.bottom-left,
	.top-right,
	.bottom-right,
	top-left {
		position: absolute;
	}

	.bottom-left {
		left: 0;
		bottom: 0;
	}

	.bottom-right {
		right: 0;
		bottom: 0;
	}

	.top-right {
		right: 0;
		top: 0;
	}

	.top-left {
		left: 0;
		top: 0;
	}

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
	header h2 {
		font-size: 1.9em;
	}

	header .info {
		font-size: 115%;
	}

	header nav li a, html[lang="fr"] header nav li a {
		font-size: 180%
	}

	header .cell, html[lang="fr"] header .cell {
		min-height: 3.9em;
	}

	main .tag {
		font-size: 1.5em;
		width: 50%;
	}

}

/* Large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
	footer .fa-4x {
		 font-size: 4em;
	}

	header .info .time-left {
		padding-bottom: 20px;
	}

	header nav li a, html[lang="fr"] header nav li a {
		font-size: 200%;
	}

	header .cell, html[lang="fr"] header .cell {
		min-height: 4.15em;
	}

	main h1 {
		font-size: 250%;
		padding-top: 1.4em;
	}

	/* Single Post */
	.single main h1 {
		font-size: 250%;
	}

	main .tag {
		width: 70%;
	}

}
/* Extra large devices (large desktops, 1500px and up) */
@media screen and (min-width: 1500px) {
	header .col-xs-push-2 img {
		padding: 5px 100px;
	}

	main .tag {
		width: 100%;
		font-size: 2em;
	}

	html[lang="fr"] main .tag {
		width: 100%;
		font-size: 1.8em;
	}

}
